<p>POST data to /api</p>
<p><code>curl "http://ultraviolence.heroku.com/api?s=css&amp;l=1" -d '.abc {}'</code></p>
<ul>
  <li><code>?s</code> or <code>?syntax</code> - specify syntax</li>
  <li><code>?t</code> or <code>?theme</code> - specify textmate theme (defaults to mac classic)</li>
  <li><code>?l</code> or <code>?line_numbers</code> - set to '1' to show line numbers</li>
</ul>